.nav{
    margin-top: 0px;
    padding-top: 1rem;
    position: relative;
}
.nav img{
    width:200px;
    height: auto;
}
.cards{
    width: 450px;
    margin: auto;
  }
  
  .cards h2{
    margin: 0 0 6px 0;
    text-align: center;
  }
  
  .cards .twibbon{
    width: 450px;
    width: 450px;
    margin: auto;
    position: relative;
    overflow: hidden;
  }
  
  img#twibbon{
    width: 100%;
  }
  
  img#photo{
    z-index: -1;
    position: absolute;
  }
  
  .card a{
    display: block;
    text-align: center;
  }



